.main-navigation {
  text-align: center;
  background-color: gray;
  height: 50px;
}
.main-navigation ul {
  position: relative;
  top: 20px;
  left: 0;
  display: block;
}
.main-navigation ul li{
  display: inline;
  padding-left: 30px;
}
